<template>
    <div class="app-chat">
        <Conversation :contact="selectedContact" :isTypingg="isT" :messages="messages" @new="saveNewMessage"/>
        <ContactsList :contacts="contacts" @selected="startConversationWith"/>
    </div>
</template>

<script>
    import Conversation from "./Conversation";
    import ContactsList from "./ContactsList";
let timeout=null;
    export default {
        props: {
            user: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                selectedContact: null,
                messages: [],
                contacts: [],
                isT: false,

            };
        },

        mounted() {

                 this.$pusher.subscribe('message_created').bind(`message_created_${this.user.id}`, async (data) => {
                // console.log(data)
                this.hanleIncoming(data.message);
            });

            this.$pusher.subscribe('isTyping').bind(`isTyping_${this.user.id}`,(data) => {

                // clearTimeout(this.isTypingg);
                this.isT = data.isTyping
                /*this.isTypingg=setTimeout(()=>{
                   this.isT = false

                },1000)*/



            });

            axios.get('/contacts')
                .then((response) => {
                    // console.log(response.data);
                    this.contacts = response.data;
                });
        },

        methods: {
            startConversationWith(contact) {
                axios.get(`/conversation/${contact.id}`)
                    .then((response) => {
                        this.messages = response.data;
                        this.selectedContact = contact;
                    })
            },
            saveNewMessage(text) {
                this.messages.push(text);
            },
            hanleIncoming(message) {
                if (this.selectedContact && message.from == this.selectedContact.id) {
                    this.saveNewMessage(message);
                    return;
                }

            }
        },
        name: "chat",
        components: {Conversation, ContactsList}

    }
</script>

<style lang="scss" scoped>
    .app-chat {
        display: flex;
        height: 600px;
    }

</style>
