<template>
    <div class="contact-list">
    <ul>
        <li v-for="(contact,index) in contacts" :key="contact.id" @click="selectContact(index, contact)" :class="{'selected':index === selected}">
            <div class="contact" >
                <p class="name">{{contact.name}}</p>
                <p class="email">{{contact.email}}</p>
            </div>
        </li>
    </ul>
    </div>
</template>

<script>
    export default {
        props:{
            contacts:{
                type:Array,
                default:[],
            }
        },
        data(){
            return{
                selected:0
            };
        },
        methods: {
            selectContact(index,contact){
                this.selected=index;

                this.$emit('selected',contact);
            }
        },
        name: "ContactsList",
    }
</script>

<style lang="scss" scoped>
    .contact-list{
        flex:2;
        max-height: 600px;
        /*overflow: scroll;*/
        border-left: 1px solid #a6a6a6;
        ul{
            list-style-type: none;
            padding-left: 0;
            li{
                display: flex;
                padding: 2px;
                border-bottom: 1px solid #aaaaaa;
                height: 80px;
                position: relative;
                cursor: pointer;
                &.selected{
                    background-color: #dfdfdf;
                }
                .contact{
                    flex: 3;
                    font-size: 15px;
                    overflow:hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p{
                        margin: 0;
                        &.name{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
</style>

