<template>
    <div class="conversation">
        <h1>{{contact ? contact.name:'Select a Contact'}}</h1>
        <MessagesFeed :contact="contact" :messages="messages"/>
        <MessageComposer @isTyping="isTyping" @send="sendMessage"/>
        <div v-if="isTypingg">{{contact.name}} is typing...</div>

    </div>
</template>

<script>
    import MessagesFeed from './MessagesFeed';
    import MessageComposer from './MessageComposer';

    export default {
        props: {
            contact: {
                type: Object,
                default: null,
            },
            messages: {
                type: Array,
                default: []
            },
            isTypingg: Boolean
        },

        created() {
            console.log(this.isTypingg)
        },
        methods: {
            sendMessage(text) {

                if (!this.contact) {
                    return;
                }
                axios.post('/conversation/send', {
                    contact_id: this.contact.id,
                    text: text
                }).then((response) => {
                    this.$emit('new', response.data);

                })
            },
            isTyping(is_typing) {
                axios.post(`/conversation/isTyping/${this.contact.id}`, {
                    is_typing: is_typing
                })
            }

        },
        components: {MessagesFeed, MessageComposer},
        name: "Conversation"
    }
</script>

<style lang="scss" scoped>
    .conversation {
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-size: 20px;
            padding: 10px;
            margin: 0;
            border-bottom: 1px dashed lightgrey;
        }
    }
</style>
