<template>
    <div class="composer">
        <textarea v-model="message" @focus="isTyping($event, true)" @blur="isTyping($event, false)" @keydown.enter="send" placeholder="Message..."></textarea>

    </div>

</template>

<script>
    export default {
        data() {
            return {
                message: '',
            };
        },
        methods: {

            send(e) {

                e.preventDefault();
                if (this.message == '') {
                    return;
                }
                this.$emit('send', this.message);
                this.message = '';
            },
            isTyping(el, is_typing) {
                this.$emit('isTyping', is_typing);

            },
        },
        name: "MessageComposer"
    }


</script>

<style lang="scss" scoped>
    .composer textarea {
        width: 96%;
        margin: 10px;
        resize: none;
        border-radius: 3px;
        border: 1px solid lightgrey;
        padding: 6px;
    }
</style>
