<template>
    <div class="feed" ref="feed">
        <ul v-if="contact">
            <li v-for="message in messages " :class="`message${message.to == contact.id ? 'sent': 'received'}`"
                :key="message.id">
                <div class="text">
                    {{message.text}}
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: {
            contact: {
                type: Object,
            },
            messages: {
                type: Array,
                required: true,
            }
        },
        methods: {
            scrollToBottom() {
                setTimeout(() => {
                    this.$refs.feed.scrollTop = this.$refs.feed.scrollHeight ;
                }, 50);

            }
        },
        watch: {
            contact(contact) {
                this.scrollToBottom();
            },
            messages(messages) {
                this.scrollToBottom();
            }
        },

        name: "MessagesFeed"
    }
</script>

<style lang="scss" scoped>
    .feed {
        background-color: #2B2B2B;
        height: 100%;
        max-height: 470px;
        overflow: scroll;

        ul {
            list-style-type: none;
            padding: 5px;

            li {
                &.message {
                    margin: 10px 0;
                    width: 100%;
                }
                    .text {
                        max-width: 200px;
                        border-radius: 5px;
                        padding: 12px;
                        display: inline-block;
                    }

                    &.messagereceived {
                        text-align: left;

                        .text {
                            background: #e2f0fb;
                            max-width: 300px;
                            border-radius: 5px;
                            padding: 12px;
                            display: inline-block;
                        }
                    }

                    &.messagesent {
                        text-align: right;

                        .text {
                            background: #82ACFF;
                            max-width: 300px;
                            border-radius: 5px;
                            padding: 12px;
                            display: inline-block;
                        }
                    }

            }
        }
    }
</style>
